<template>
  <div>
    <form v-if="showForm">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-4">
          <div class="grid-y">
            <span class="cell small-12 medium-6">
              <input
                type="text"
                name="firstName"
                placeholder="Imię"
                v-model="message.firstName"
              />
            </span>

            <span class="cell small-12 medium-6">
              <input
                type="text"
                name="surname"
                placeholder="Nazwisko"
                v-model="message.surName"
              />
            </span>

            <span class="cell small-12 medium-6">
              <input
                type="email"
                name="email"
                placeholder="E-Mail"
                v-model="message.mail"
              />
            </span>

            <span class="cell small-12 mediun-6">
              <input
                type="text"
                name="phone"
                placeholder="Telefon"
                v-model="message.phone"
              />
            </span>
          </div>
        </div>

        <div class="cell small-12 medium-8">
          <div class="grid-y">
            <span class="cell small-12 medium-6">
              <textarea
                name="content"
                placeholder="Treść wiadomości"
                v-model="message.content"
              ></textarea>
            </span>

            <span class="cell small-12 medium-6 checkbox-layout">
              <input
                type="checkbox"
                name="accept_rodo"
                id="accept_rodo"
                v-model="message.acceptRodo"
              />
              <label
                for="accept_rodo"
                class="text-left middle"
                style="color: white"
                >Wyrażam zgodę na przetwarzanie danych osobowych</label
              >
            </span>

            <span class="cell small-12 medium-6">
              <button
                role="submit"
                class="float-right"
                @click="buttonHandle($event)"
              >
                Wyślij
              </button>
            </span>
          </div>
        </div>
      </div>
    </form>

    <div class="grid-y" id="alert" v-else>
      <span class="callout">
        <h3>Dziękujemy za kontakt</h3>
        <p>
          Twoja wiadomość została wysłana, postaramy się odpowiedzieć tak szybko
          jak będzie to możliwe
        </p>

        <button class="button secondary" @click="alertCloseButtonHandle">
          OK
        </button>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "FooterContact",

  data: () => {
    return {
      message: {
        mail: "",
        phone: "",
        firstName: "",
        surName: "",
        content: "",
        acceptRodo: false,
        _token: document.querySelector('meta[name="csrf-token"]').content,
      },
      showForm: true,
    };
  },

  methods: {
    //
    // obsługa przycisku wyślij
    //
    buttonHandle(event) {
      event.preventDefault();

      if (this.message.acceptRodo === true) {
        axios
          .post("/api/contact", this.message)
          .then((response) => {
            const data = response.data;

            if (data.status == 200) this.showForm = false;
          })
          .catch((error) => {
            console.error(error);
          });
      }
    },

    alertCloseButtonHandle() {
      // wyczyszczenie dialogu przed ponownym pokazaniem formularza
      this.message = {
        mail: "",
        phone: "",
        firstName: "",
        surName: "",
        content: "",
        acceptRodo: false,
      };

      // pokazanie formularza użytkownikowi
      this.showForm = true;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../../sass/variables";

button,
input[type="submit"] {
  background-color: $green;
  padding: 0.6em 1em;
  color: $light;

  &:hover {
    background-color: lighten($green, 5%);
  }
  &:active {
    background-color: darken($green, 25%);
  }
}

textarea {
  min-height: 5em;
}

textarea,
input[type="text"],
input[type="email"],
input[type="checkbox"] {
  border: $green solid 2px;
  background-color: $silver;
  padding: 3px;
  margin: 0.2em 0;
  color: $light;

  &:focus {
    background-color: darken($silver, 5%);
  }
}

span.checkbox-layout {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p,
  span,
  label {
    margin-left: 0.3em;
    font-size: 12px;
    align-self: center;
  }
}
</style>
