<template>
    <div>
    <form class="grid-y" v-if="showForm">
        <div class="cell small-12">
            <label for="email">Adres E-Mail</label>
            <input type="email" name="email" id="email" v-model="message.mail" />
        </div>

        <div class="cell small-12">
            <!-- <label for="phone">Telefon</label>
            <input type="text" name="phone" id="phone" /> -->
            <div class="input-group">
                <span class="input-group-label">+48</span>
                <input class="input-group-field" type="text" v-model="message.phone" />
            </div>
            <p class="help-text">Jeśli podasz nam swój numer telefonu ułatwisz nam kontakt z tobą dzięki czemu szybciej odpowiemy na twoje pytanie</p>
        </div>

        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6">
                <label for="firstName">Imię</label>
                <input type="text" name="firstName" id="firstName" v-model="message.firstName" />
            </div>

            <div class="cell small-12 medium-6">
                <label for="surName">Nazwisko</label>
                <input type="text" name="surName" id="surName" v-model="message.surName" />
            </div>
        </div>

        <div class="cell small-12">
            <label for="content">Treść wiadomości</label>
            <textarea name="content" id="content" v-model="message.content" ></textarea>
        </div>

        <div class="grid-x">
            <div class="cell small-12 medium-auto" style="display: flex;">
                <input type="checkbox" name="accept" id="accept" v-model="message.acceptRodo" />
                <label for="accept">
                    Wyrażam zgodę na przetwarzanie moich danych osobowych w celu
                    prawidłowej realizacji procesu przesłania formularza kontaktowego
                </label>
            </div>

            <div class="cell small-12 medium-2">
                <button role="submit" @click="sendButtonHandle($event)">Wyślij</button>
            </div>
        </div>
    </form>
    <div class="grid-y" id="alert" v-else>
        <span class="callout">
            <h3>Dzękujemy za kontakt</h3>
            <p>
                Twoja wiadomość została wysłana, postaramy się odpowiedzieć tak szybko jak będzie to możliwe
            </p>

            <button class="button secondary" @click="alertCloseButtonHandle">OK</button>
        </span>
    </div>

    </div>
</template>

<script>
export default {
    name: 'FormContact',

    data: () => {
        return {
            message: {
                mail: '',
                phone: '',
                firstName: '',
                surName: '',
                content: '',
                acceptRodo: false,
                _token: document.querySelector('meta[name="csrf-token"]').content
            },

            showForm: true
        };
    },

    methods: {
        sendButtonHandle(event) {
            event.preventDefault();

            if (this.message.acceptRodo === true) {
                // const token = document.querySelector('meta[name="csrf-token"]').content;

                axios.post('/api/contact', this.message)
                .then(response => {
                    const data = response.data;
                    if (data.status == 200) {
                        this.showForm = false;
                    }
                })
                .catch(error => {
                    console.error(error.data);
                })
            }
        },

        alertCloseButtonHandle() {
            // wyczyszczenie dialogu przed ponownym pokazaniem formularza
            this.message = {
                mail: '',
                phone: '',
                firstName: '',
                surName: '',
                content: '',
                acceptRodo: false
            };

            // pokazanie formularza użytkownikowi
            this.showForm = true;
        }
    }
}
</script>

<style lang="scss" scoped>

@import '../../../sass/_variables.scss';

button[role="submit"] {
    background-color: $green;
    color: $white;
    padding: .8em 1.2em;
    float: right;
    transition: all .2s;

    &:hover {
        background-color: lighten($green, 10%);
        color: $white;
    }
    &:active { background-color: $dark; }
}

textarea { min-height: 6em; }

#alert {
    span {
        text-align: center;
    }
}
</style>
