<template>
    <div v-if="isVisible">
        <img src="/img/cookies.png" alt="Ciasteczka" />
        <section>
        <h5>Ta strona wykożystuje pliki cookies</h5>
        <p>
            W celu prawidłowego świadczenia usług nasza strona wykożystuje pliki
            cookies.<br/><a href="/polityka-prywatnosci">Sprawdź jakie twoje dane przechowujemy.</a><br/> Czy akceptujesz wykożystanie plików cookie?
        </p>

        <button role="button" class="accept" @click="acceptButtonHandle">Akceptuję</button>
        <button role="button" class="reject" @click="rejectButtonHandle">Odrzuć</button>
        </section>
    </div>
</template>

<style lang="scss" scoped>
    @import '../../../sass/_variables.scss';

    div {
        position: fixed;
        bottom: 1em;
        right: 1em;
        background-color: $white;
        z-index: 1000;
        padding: 1em;
        border-radius: 6px;
        box-shadow: 0px 6px 12px $silver;
        font-size: 1em;

        section {
            float: right;
        }

        img {
            float: left;
            padding: 0 1em 0 0;
        }
    }

    button {
        padding: .8em 1em;

        &.accept {
            background-color: $dark;
            color: $white;
            transition: all .3s;

            &:hover {
                background-color: $orange;
                /* color: $dark; */
                box-shadow: 0 0 6px silver;
            }

            &:active { background-color: $dark; }
        }

        &.reject {
            color: $dark;
            transition: all .3s;

            &:hover {
                border: $dark solid 1px;
            }

            &:active {
                background-color: $dark;
                color: $white;
            }
        }
    }
</style>

<script>
export default {
    name: 'PrivacyPolicy',

    data() {
        return {
            isVisible : true
        }
    },

    methods: {
        acceptButtonHandle() {
            this.isVisible = false;
        },

        rejectButtonHandle() {
            window.close();
        }
    }
}
</script>
