@import 'variables';

section.categories {
    .category {
        padding: .8em 1em;
        background-color: $dark;
        transition: all .3s;
        // border: #ccc solid 1px;

        &:hover {
            background-color: $white;
            box-shadow: 0 0 12px $silver;

            p, span { color: $dark; }
        }

        p,
        span {
            margin: 0;
            padding: 0;
            text-align: center;
            color: $white;
            font-size: 1.2em;
            text-transform: uppercase;
        }
    }
}

ul.categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        padding: .8em 1.2em;
        margin: 4px;
        background-color: $dark;
        transition: all .3s;

        &:hover {
            background-color: $white;
            box-shadow: 0 0 16px $silver;
            
            a { color: $dark; }
        }

        a,
        a:link {
            color: $white;
            text-transform: uppercase;
            font-size: .9em;
        }
    }
}
