@import 'variables';

footer {
    background-color: $footer-bg;
    color: $white;
    padding: 2em 4em;
    font-size: 1em;

    @media screen and (max-width: $small) {
        padding: 2em 1em;
    }
    @media screen and (max-width: $medium) { padding: 2em 1.2em; }

    address {
        font-style: normal;
        font-size: 1.1em;

        @media screen and (max-width: $small) { font-size: 1em; }
    }

    *[class^="cell"] {
        h6 {
            font-weight: bolder;
            font-size: 1.1em;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }

    a,
    a:link {
        color: $white;

        &:hover {
            text-decoration: underline;
            color: $white;
        }

        &:active { color: $orange; }
    }

    address {
        display: flex;
        flex-direction: column;

        span {
            font-size: 1em;
            
            > img { width: 18px; }
        }
    }
}
