@import 'variables';

header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // @import 'navigation';

    section {
        position: absolute;
        top: 30%;
        display: flex;
        flex-direction: column;
        height: 10%;
        width: 65%;
        z-index: 100;

        @media screen and (max-width: $medium) { width: 80%; }

        h1 {
            color: $white;
            font-weight: bold;
            text-shadow: 0px 3px 6px $black;

            @media screen and (max-width: $small) { text-align: center; }
        }

        a.cta-button {
            justify-self: flex-start;
            align-self: flex-start;
            background-color: darken($orange, 5%);
            padding: 1em 2em;
            font-size: 1.1em;
            border-radius: 3px;
            color: $white;

            transition: all .2s;
            &:hover { background-color: darken($orange, 10%); }
            &:active { background-color: $dark; }

            @media screen and (max-width: $small) { margin: 0 auto; }
        }
    }

    a.arrow-button {
        > img {
            $icon-size: 96px;
            width: $icon-size;
            height: $icon-size;
        }
        position: absolute;
        bottom: 0;
        z-index: 100;
        animation: arrow-button-anim 1.4s ease .1s infinite alternate none;
    }

    @keyframes arrow-button-anim {
        from { margin-bottom: 0px; }
        to { margin-bottom: 1.6em; }
    }
}
