@import 'variables';


nav {
    background-color: rgba(13, 13, 13, .65);
    width: 100%;
    height: 48px;
    position: absolute;
    top: 0;
    padding: 0 4em;
    overflow: hidden;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $small) { padding: 0 .2em; }
    @media screen and (max-width: $medium) { padding: 0 .8em; }

    .wrapper {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .button-toggle {
            position: absolute;
            right: 0;
            display: none;
            justify-content: center;
            align-items: center;
            padding: .3em;

            @media screen and (max-width: $small) { display: flex; }
        }
    }

    .toggle { display: flex!important; }
    .collapse {
        display: flex;
        flex-direction: column;

        .collapse-logo {
            align-self: center;
            width: 80%;
            margin: 1em auto;
            display: none;

            @media screen and (max-width: $small) { display: block; }
        }

        ul.top-nav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;

            li {
                padding: .6em 2em;

                @media screen and (max-width: $small) {
                    width: 100%;
                    text-align: center;
                }

                > a, a:link {
                    font-size: 20px;
                    opacity: 1;
                    color: $light;
                    transition: all .2s;

                    &:hover { color: $white; }
                }
                transition: all .2s;
                &:hover { background-color: lighten($dark, 20%); }
            }
        }

        @media screen and (max-width: $small) {
            & {
                display: none;
                width: 75vw;
                height: 100vh;
                background-color: $light;
                box-shadow: 16px 0px 12px $dark;
                position: fixed;
                left: 0;
                top: 0;

                ul.top-nav {
                    flex-direction: column;
                    align-items: center;
                    margin: 2em 0;

                    li {
                        a, a:link { color: $dark; }
                    }
                }
            }
        }
    } // collapse

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;

        img { max-height: 36px; }
    }
}
