@import 'variables';

.product-card {
    background-color: $white;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    overflow: hidden;
    transition: all .2s;
    padding: 0.5em;
    width: 100%;

    &:hover { box-shadow: 0px 0px 16px $silver; }

    span {
        text-align: center;
        font-size: 1.2em;
        color: $dark;
    }
}

.product-description {
    margin: 1.4em 0;
}
