// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #7e8c14;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #0d0d0d;
$light: #f2f2f2;
$silver: #595959;
$white: #ffffff;

// Body
$body-bg: $light;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$footer-bg: $dark;


// Breakpoints
$small: 578px;
$medium: 960px;
