// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import '~foundation-sites/scss/foundation';
@import '~aos/dist/aos.css';

@include foundation-everything;

html, body {
    background-color: #f2f2f2;
    color: $dark;
}

p, span { font-size: 1.1em; }

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
main { flex: 1; }

@import 'footer';
@import 'header';
@import 'navigation';
@import 'page';
@import 'product';
@import 'categories';

@import '~motion-ui/src/motion-ui';
@include motion-ui-transitions;
@include motion-ui-animations;
