ul.accordion {
  background: transparent;
}

ul.accordion li.accordion-item {
  background-color: #0d0d0d;
  margin: 1em 0;
  -webkit-box-shadow: 0px 6px 12px silver;
          box-shadow: 0px 6px 12px silver;
  -webkit-transition: all .3s;
  transition: all .3s;
}

ul.accordion li.accordion-item a.accordion-title {
  font-size: 1.1em;
  color: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

ul.accordion li.accordion-item a.accordion-title:hover {
  color: #0d0d0d;
  background-color: #ffffff;
}

ul.accordion li.accordion-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.accordion li.accordion-item ul li {
  padding: .2em 0;
}

ul.accordion li.accordion-item ul li a,
ul.accordion li.accordion-item ul li a:link {
  color: #595959;
  -webkit-transition: all .3s;
  transition: all .3s;
}

ul.accordion li.accordion-item ul li a:hover,
ul.accordion li.accordion-item ul li a:link:hover {
  color: #333333;
}

ul.accordion li.is-active {
  background-color: #0d0d0d;
  color: #ffffff;
}
/*# sourceMappingURL=catalog.css.map */