@import 'variables';

$menuWidth: 22vw;

.menu {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: .4em;
    box-shadow: 0 3px 12px gray;
    margin: 0 1em;
    width: $menuWidth;
    z-index: 999;

    ul,
    ul ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul {
        position: relative;
        width: $menuWidth;

        > li {
            position: relative;
            display: flex;
            align-items: center;

            &:hover { background-color: darken($white, 15%); }

            a,
            a:link {
                text-decoration: none;
                color: $dark;
            }

            > .arrow {
                position: absolute;
                right: .5em;
                width: 16px;
            }

            transition: all .25s;
            &:hover > ul { display: block; }

            ul {
                position: absolute;
                left: $menuWidth;
                top: 0px;
                display: none;
                background-color: $white;
                box-shadow: 0 3px 6px gray;

                li {
                    clear: both;
                    background-color: $white;
                }
            }
        }
    }

    h5 {
        padding: .6em .6em 0 .6em;
    }
} // menu class
