address {
  font-size: 1.2em;
  font-style: normal;
}

p {
  font-size: 1.2em;
  margin: .8em 0;
}

@media screen and (max-width: 578px) {
  #callout {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
/*# sourceMappingURL=contact.css.map */