@import 'variables';

address {
    font-size: 1.2em;
    font-style: normal;
}

p {
    font-size: 1.2em;
    margin: .8em 0;
}

@media screen and (max-width: $small) {
    #callout { order: -1; }
}
