article {
  padding: 4em 0 !important;
}

article h2 {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  padding: 1.4em 0 1.4em 0;
}

article h2:first-child {
  padding: 0 0 1.4em 0;
}

article h2:last-child {
  padding: 1.4em 0 0 0;
}

.offer-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.offer-card img {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  margin: 0 auto;
  display: block;
}

.offer-card img:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.offer-card a {
  position: absolute;
}

.offer-card a p {
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  text-shadow: 0px 6px 6px #0d0d0d;
}
/*# sourceMappingURL=home.css.map */