@import 'variables';
article {
    padding: 4em 0!important;
    h2 {
        margin: 0;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        padding: 1.4em 0 1.4em 0;
        &:first-child {
            padding: 0 0 1.4em 0;
        }
        &:last-child {
            padding: 1.4em 0 0 0;
        }
    }
}

.offer-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // padding: 1em;
    img {
        transition-duration: .4s;
        margin: 0 auto;
        display: block;
        &:hover {
            transform: scale(1.2);
            -moz-transform: scale(1.2);
            -webkit-transform: scale(1.2);
        }
    }
    a {
        position: absolute;
        p {
            text-align: center;
            color: $white;
            font-size: 2em;
            text-shadow: 0px 6px 6px $dark;
        }
    }
}