.menu {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.4em;
  box-shadow: 0 3px 12px gray;
  margin: 0 1em;
  width: 22vw;
  z-index: 999;
}
.menu ul,
.menu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul {
  position: relative;
  width: 22vw;
}
.menu ul > li {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.25s;
}
.menu ul > li:hover {
  background-color: #d9d9d9;
}
.menu ul > li a,
.menu ul > li a:link {
  text-decoration: none;
  color: #0d0d0d;
}
.menu ul > li > .arrow {
  position: absolute;
  right: 0.5em;
  width: 16px;
}
.menu ul > li:hover > ul {
  display: block;
}
.menu ul > li ul {
  position: absolute;
  left: 22vw;
  top: 0px;
  display: none;
  background-color: #ffffff;
  box-shadow: 0 3px 6px gray;
}
.menu ul > li ul li {
  clear: both;
  background-color: #ffffff;
}
.menu h5 {
  padding: 0.6em 0.6em 0 0.6em;
}
