<template>
    <div class="small reveal" id="addElementDialog" data-animation-in="slide-in-down" data-animation-out="slide-out-up" data-reveal>
        <h3>Dodawanie nowego elementu</h3>

        <div class="grid-x grid-margin-x">
            <div class="cell small-7">
                    <div class="cell">
                        <label for="width">Szerokość [cm]</label>
                        <input type="number" name="width" id="width" v-model="width" min="0" />
                    </div>

                    <div class="cell">
                        <label for="height">Wysokość [cm]</label>
                        <input type="number" name="height" id="height" v-model="height" min="0" />
                    </div>

                    <div class="cell">
                        <label for="length">Długość [m]</label>
                        <input type="number" name="length" id="length" v-model="length" min="0" />
                    </div>

                    <div class="cell">
                        <label for="qty">Ilość [szt]</label>
                        <input type="number" name="qty" id="qty" v-model="qty" min="0" />
                    </div>
            </div>

            <div class="cell small-5">
            </div>
        </div>

        <div class="text-center">
            <button @click="addButtonHandle" class="button primary large">Dodaj</button>
        </div>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>

<script>
export default {
    name: 'AddDialog',

    mounted: () => {
        const dialog = new Foundation.Reveal($('#addElementDialog'));
    },

    data: () => {
        return {
            width: 0,
            height: 0,
            length: 0,
            qty: 0
        }
    },

    methods: {
        addButtonHandle() {
            const w = this.width / 100;
            const h = this.height / 100;
            const stere = (w * h * this.length) * this.qty;

            this.$emit('clicked', {
                isChecked: false,
                width: this.width,
                height: this.height,
                length: this.length,
                safeLength: 0,
                qty: this.qty,
                stere: stere,
                price: 0
            });

            // wyczyszczenie pól formularza
            this.width = 0;
            this.height = 0;
            this.length = 0;
            this.qty = 0;
            $('#addElementDialog').foundation('close');
        }
    }
}
</script>

<style lang="scss" scoped>
</style>
