<template>
<div>
    <div class="grid-y" v-if="!orderIsSent">
        <div class="cell small-12" style="margin-bottom: 1.5em;">
            <div class="grid-x grid-margin-x">
                <span class="cell small-6">
                    <label for="orderName">Nazwa zamówienia</label>
                    <input type="text"
                        name="orderName"
                        id="orderName"
                        placeholder="np. Więźba dachowa - dom, altanka ogrodowa"
                        v-model="name" />
                </span>
                <span class="cell small-4">
                    <label for="timeLimit">Termin realizacji</label>
                    <input type="date"
                        name="timeLine"
                        id="timeLine"
                        v-model="timeLine" />
                </span>
            </div>
        </div>

        <div class="cell small-12">
            <div class="top-action">
                <LengthSafe @onChange="onSafeLengthChange" v-if="elements.length > 0" />
                <div style="flex-grow: 24"></div>

                <div class="action-buttons button-group" style="float:right;">
                    <button class="button primary small" data-open="addElementDialog">Dodaj nowy element</button>
                    <button class="button alert small" @click="removeButtonHandle()">Usuń zaznaczone elementy</button>
                </div>
            </div>
            <table class="unstriped">
                <thead v-if="elements.length > 0">
                    <tr>
                        <th>#</th>
                        <th>Szerokość<br/>[cm]</th>
                        <th>Wysokość<br/>[cm]</th>
                        <th>Długość<br/>[m]</th>
                        <th>Ilość<br/>[szt]</th>
                        <th>Kubatura<br/>[m<sup>3</sup>]</th>
                        <th>Wartość<br/>[PLN]</th>
                    </tr>
                </thead>

                <tbody v-if="elements.length > 0">
                    <RowItem
                        v-for="item in elements"
                        v-bind:key="item.width"
                        :item="item" />

                    <tr class="totalRow" v-if="elements.length > 0">
                        <td colspan="5">RAZEM</td>
                        <td>{{ this.totalStere }}&nbsp;m<sup>3</sup></td>
                        <td>{{ this.totalOrderPrice }}&nbsp;PLN</td>
                    </tr>
                </tbody>
            </table>

            <AddDialog @clicked="onAddElementHandle" />
        </div>

        <section v-if="elements.length > 0">
        <div class="grid-x grid-margin-x" style="margin-top: 2em;">
            <section class="cell small-12 medium-6">
                <h3>Dane osoby zamawiającej</h3>
                <Customer />
            </section>

            <section class="cell small-12 medium-6">
                <h3>Adres dostawy</h3>
                <Delivery @deliveryAddressFromCustomer="onDeliveryAddresFromCustomerChange" />
            </section>
        </div>

        <div class="cell small-12">
            <input type="checkbox" name="vat" id="vat" v-model="generateVat" />
            <label for="vat">Chcę odczymać fakturę VAT</label>
        </div>

        <div class="cell small-12" style="margin-top: 1.2em;">
            <h3>Komentarz do zamówienia</h3>
            <textarea style="min-height:6em;" v-model="comment"></textarea>
        </div>
        <div class="cell small-12">
            <p class="callout warning">
                Kliknięcie w przycisk zamawiam, nie ponosi za tobą odpowiedzialności do zapłaty za zamówione elementy.
                Realizacja zamówienia będzie kontynuowana po wcześniejszym kontakcie telefonicznym bądź osobistym w celu uzgodnienia.
                Do realizacji zamówienia przystępujemy po wcześniejszym wpłaceniu 10% zaliczki.
            </p>
            <button class="button large primary"
                style="float:right;"
                @click="createOrderButtonHandle()">Zamawiam</button>
        </div>
        </section>
    </div>
    <SuccessWidget v-else />
</div>
</template>

<script>
import RowItem from './RowItem.vue'
import LengthSafe from './LengthSafe.vue'
import AddDialog from './AddDialog.vue'
import Customer from './Customer.vue'
import Delivery from './Delivery.vue'
import SuccessWidget from './SuccessWidget.vue'
import Vue from 'vue'

Vue.mixin({
    data: () => {
        return {
            customer: {
                firstName: 'Łukasz',
                surName: 'Cieśla',
                city: 'Lipinki',
                street: 'Lipinki',
                homeNumber: '626',
                postCode: '38-305',
                postOffice: 'Lipinki',
                email: 'lukaszciesla52@gmail.com',
                phone: '661233757'
            },
            delivery: {
                city: 'Lipinki',
                street: 'Lipinki',
                homeNumber: '626',
                postCode: '38-305',
                postOffice: 'Lipinki'
            }
        }
    }
})

export default {
    name: 'OrderCreator',
    components: {
        RowItem,
        LengthSafe,
        AddDialog,
        Customer,
        Delivery,
        SuccessWidget
    },

    mounted: () => {
        const modal = new Foundation.Reveal($('#modal'));
    },
    // created() {
    //     const storageItems = localStorage.getItem('elements');
    //     this.elements = JSON.parse(storageItems);
    // },

    data: () => {
        return {
            safeLength: {
                enable: false,
                value: 0,
            },
            elements: [],
            name: '',
            timeLine: '',
            comment: '',
            generateVat: false,
            orderIsSent: false  // czy zamówienie zostało już wysłane
        }
    },

    methods: {
        onAddElementHandle(item) {
            const currentPrice = 750;
            item.price = item.stere * currentPrice; // obliczenie ceny pojedynczego elementu

            // dodanie ilości zapasu
            if (this.safeLength.enable)
                item.safeLength = this.safeLength.value;

            this.elements.push(item);
            window.localStorage.setItem('elements', JSON.stringify(this.elements));
        },

        onSafeLengthChange(args) {
            this.safeLength = {
                enable: args.enable,
                value: Number(args.safeLength / 100)
            };
            for (let i = 0; i < this.elements.length; i++) {
                this.elements[i].safeLength = this.safeLength.enable ? Number(this.safeLength.value) : 0;
            }
        },

        onDeliveryAddresFromCustomerChange(active) {
            if (active) {
                this.delivery = {
                    city: this.customer.city,
                    street: this.street.street,
                    homeNumber: this.homeNumber,
                    postOffice: this.postOffice,
                    postCode: this.postCode
                }
            }
            this.$forceUpdate();
        },

        removeButtonHandle() {
            const temp = this.elements;
            this.elements = []; // czyszczenie tablicy

            temp.forEach(item => {
                if (!item.isChecked) {
                    this.elements.push(item);
                }
            })
        },

        createOrderButtonHandle() {
            const data = {
                _token: document.querySelector('meta[name="csrf-token"]').content,
                name: this.name,
                timeLine: this.timeLine,
                items: this.elements,
                customer: this.customer,
                delivery: this.delivery,
                comment: this.comment,
                generateVat: this.generateVat,
                safeLength: this.safeLength,
                totalStere: this.totalStere,
                totalPrice: this.totalOrderPrice
            };
            axios.post('/api/order/create', data)
            .then(response => {
                if (response.data.status === 200)
                    this.orderIsSent = true;
            })
            .catch(error => {
                console.log(error.data);
            })
        }
    },

    computed: {
        totalStere() {
            let total = 0;
            this.elements.forEach(item => {
                total += item.stere;
            })
            return total.toFixed(2);
        },

        totalOrderPrice() {
            let price = 0;
            this.elements.forEach(item => {
                price += item.price;
            })
            return price.toFixed(2);
        }
    }
}
</script>

<style lang="scss" scoped>
    table {
        thead {
            th { text-align: center; }
        }

        tbody {
            .totalRow {
                td:first-child { text-align: right; }
                td {
                    text-align: center;
                    font-weight: bolder;
                }
            }
        }
    }

    .top-action {
        display: flex;
        .action-buttons { flex-grow: 1; }
    }
</style>
