<template>
    <div class="grid-y">
        <div class="grid-x grid-margin-x">
            <span class="cell small-6">
                <label for="firstName"><strong>Imię</strong></label>
                <input type="text" name="firstName" id="fisrtName" v-model="customer.firstName" />
            </span>
            <span class="cell small-6">
                <label for="surName"><strong>Nazwisko</strong></label>
                <input type="text" name="surName" id="surName" v-model="customer.surName" />
            </span>
        </div>

        <div class="grid-x grid-margin-x">
            <span class="cell small-4">
                <label for="city">Miejscowość</label>
                <input type="text" name="city" id="city" v-model="customer.city" />
            </span>
            <span class="cell small-5">
                <label for="street">Ulica</label>
                <input type="text" name="street" id="street" v-model="customer.street" />
            </span>
            <span class="cell small-3">
                <label for="homeNumber">Nr budynku</label>
                <input type="text" name="homeNumber" id="homeNumber" v-model="customer.homeNumber" />
            </span>
        </div>

        <div class="grid-x grid-margin-x">
            <span class="cell small-4">
                <label for="postCode">Kod pocztowy</label>
                <input type="text" name="postCode" id="postCode" v-model="customer.postCode" />
            </span>
            <span class="cell small-8">
                <label for="postOffice">Poczta</label>
                <input type="text" name="postOffice" id="postOffice" v-model="customer.postOffice" />
            </span>
        </div>

        <div class="cell small-12">
            <label for="email"><strong>E-Mail</strong></label>
            <input type="email" name="email" id="email" v-model="customer.email" />
        </div>

        <div class="cell small-12">
            <label for="phone"><strong>Telefon</strong></label>
            <input type="text" name="phone" id="phone" v-model="customer.phone" />
        </div>
    </div>
</template>

<script>
export default {
    name: 'Customer',
}
</script>

<style lang="scss" scoped>
</style>
