<template>
    <div class="grid-y">
        <div class="cell small-12">
            <input type="checkbox"
                name="sameAsCustomer"
                id="sameAsCustomer"
                @change="onCheckboxChangeHandle()"
                v-model="customerAddress" />
            <label for="sameAsCustomer">Dostawa na adres osoby zamawiającej</label>
        </div>
        <div class="grid-x grid-margin-x">
            <span class="cell small-4">
                <label for="city">Miejscowość</label>
                <input type="text" name="city" id="city" :disabled="customerAddress" v-model="delivery.city" />
            </span>
            <span class="cell small-5">
                <label for="street">Ulica</label>
                <input type="text" name="street" id="street" :disabled="customerAddress" v-model="delivery.street" />
            </span>
            <span class="cell small-3">
                <label for="homeNumber">Nr domu</label>
                <input type="text" name="homeNumber" id="homeNumber" :disabled="customerAddress" v-model="delivery.homeNumber" />
            </span>
        </div>
        <div class="grid-x grid-margin-x">
            <span class="cell small-4">
                <label for="postCode">Kod pocztowy</label>
                <input type="text" name="postCode" id="postCode" :disabled="customerAddress" v-model="delivery.postCode" />
            </span>
            <span class="cell small-8">
                <label for="postOffice">Poczta</label>
                <input type="text" name="postOffice" id="postOffice" :disabled="customerAddress" v-model="delivery.postOffice" />
            </span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Delivery',

    data: () => {
        return {
            customerAddress: false
        }
    },

    methods: {
        onCheckboxChangeHandle() {
            this.$emit('deliveryAddressFromCustomer', this.customerAddress);
        }
    }
}
</script>

<style lang="scss" scoped>
</style>
