<template>
    <div class="length-safe">
        <input type="checkbox"
            v-model="enable"
            @change="onChangeHandle()" />

        <label for="lengthSafeActive">Uwzględnij zapas długości</label>

        <input type="number"
            :disabled="!enable"
            v-model="safeLength"
            min="0"
            @change="onChangeHandle()" />

        <p>cm</p>
    </div>
</template>

<script>
export default {
    name: "LengthSafe",

    data: () => {
        return {
            enable: false,
            safeLength: 0
        }
    },

    methods: {
        onChangeHandle() {
            this.$emit('onChange', {
                enable: this.enable,
                safeLength: this.safeLength
            });
        }
    }
};
</script>

<style lang="scss" scoped>
div {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    align-items: center;
}
</style>
