<template>
    <tr>
        <td><input type="checkbox" v-model="item.isChecked" /></td>
        <td>{{ item.width }}</td>
        <td>{{ item.height }}</td>
        <td>{{ item.length }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.stere.toFixed(2) }}</td>
        <td>{{ item.price.toFixed(2) }}</td>
    </tr>
</template>

<script>
export default {
    name: 'RowItem',
    props: ['item'],
}
</script>

<style lang="scss" scoped>
    tr {
        td {
            text-align: center;
        }
    }
</style>

