<template>
    <div class="callout success">
        <h1>Zamówienie zostało wysłane</h1>
        <p>
            Twoje zamówienie zostało przesłane do weryfikacji.
            Po zakończonym procesie weryfikacji skontaktujemy się z tobą
            telefonicznie lub mailowo w celu konsultacji szczegółów zamówienia.
        </p>
        <p>
            Dziękujemy za skorzystanie z naszego kreatora zamówień on-line.<br/>
            <i>~Zespuł TPUH Cieśla</i>
        </p>
    </div>
</template>

<script>
export default {
    name: 'SuccessWidget'
}
</script>

<style lang="scss" scoped>
</style>
